{% extends 'base.html' %}

{% block body %}
<!-- Form for input keywords -->
<form action="/">
    <div class="d-flex bd-highlight">
        <div class="p-2 bd-highlight d-none d-sm-none d-md-none d-lg-block">
            <label for="keywords" class="col-form-label">Keywords</label>
        </div>
        <div class="p-2 flex-grow-1 bd-highlight">
            <input type="text" class="form-control" name="keywords" id="keywords" aria-describedby="keywords" placeholder="E.g.: object detection, transfer learning, or super resolution" value="{{ search }}">
        </div>
        <div class="p-2 bd-highlight">
            <button type="submit" class="btn btn-primary d-none d-sm-none d-md-block" aria-label="Search">Search</button>
            <button type="submit" class="btn btn-primary d-block d-sm-block d-md-none" aria-label="Search"><i class="fas fa-search"></i></button>
        </div>
    </div>
</form>
<hr />
{% endblock %}